*{
    margin: 0;
    padding: 0;
}

.demo-one{
    height: 100px;
    width: 200px;
    /* width: 20%; */
    background-color: brown;
    float: left;
    box-sizing: border-box;
    padding: 40px 70px;
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;

}

.demo-two{

    height: 100px;
    /* width: 80%; */
    width: 300px;
    background-color: blue;
    float: left;
}

/* .demo-three{
    height: 100px;
    width: 400px;
    background-color: yellow;
    float: left;
} */